﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@model WebApplication1.ViewModels.SignUpAuthViewModel

@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-center">
    <div class="col-7 mt-3 mx-auto border border-top-0 border-primary-subtle">
        <h1 class="text-center">@localizer["signup"]</h1>
        <hr class="col-6 mx-auto" />
     
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">@localizer["firstname"]</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LastName" class="control-label">@localizer["lastname"]</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">@localizer["city"]</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Region" class="control-label">@localizer["region"]</label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Street" class="control-label">@localizer["street"]</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label">@localizer["buildingnumber"]</label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">@localizer["phonenumber"]</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label">@localizer["email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password" class="control-label">@localizer["password"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">@localizer["confirmpassword"]</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group pb-2">
                <input type="submit" value=@localizer["create"] class="btn btn-primary col-10  mx-auto d-block" />
            </div>
        </form>

        <div class="pb-2">
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary col-10  mx-auto d-block ">@localizer["login"]</a>
        </div>
    </div>
  
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
