﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@model IEnumerable<WebApplication1.Models.Category>



<div class="container">

    <div class="row justify-content-center"> 
        <h1 class="text-center">@localizer["categories"] </h1>
    </div>
    <br />
    <div class="row d-flex flex-wrap justify-content-center">

    @foreach (var item in Model)
    {
            <div class="card col-md-3 col-sm-5 p-1 m-2">
                <div class="card-header text-center">
                    @localizer[item.CategoryName]
                </div>
                <a asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-outline-primary text-center mt-1 mb-1">@localizer["update"] </a>
                <a asp-controller="CategoryItems" asp-action="GetAllCategoryItems" asp-route-id="@item.Id" class="btn btn-outline-dark text-center mb-1">@localizer["allitems"]</a>
                <a asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-outline-danger align-self-auto text-center mb-1">@localizer["delete"]</a>
            </div>
    }
</div>
<br />
    <br />
    <div class="row justify-content-end">
        <a asp-action="CreateCategory" class="btn btn-outline-primary col-3">@localizer["create"] </a>

    </div>
</div>

